---
const navItems = [
    { href: "/", label: "Home" },
    { href: "/blog", label: "Blog" },
    { href: "/log-idea", label: "Contact" },
    { href: "/about", label: "About" },
];
---

<header class="w-full max-w-3xl mx-auto px-6 py-8 flex justify-between items-center">
    <a href="/" class="font-bold text-xl tracking-tight text-brand-dark hover:text-brand-DEFAULT">
        Minim<span class="text-brand-DEFAULT">.</span>
    </a>

    <nav class="space-x-6 text-sm font-medium text-text-muted">
        {
            navItems.map((item) => (
                <a href={item.href} class="hover:text-text-main transition-colors">
                    {item.label}
                </a>
            ))
        }
    </nav>
</header>
